<div *ngIf="capacity" id="result-fifo" class="result-form">
    <div class="title">
      <h1 style="margin: auto;">Clock</h1>
    </div>
    <div>
      <mat-grid-list cols="{{ columns }}" rowHeight="60px" gutterSize="5px">
        <mat-grid-tile
            *ngFor="let tile of tiles; let i = index"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color"
            [style.border]="tile.border"
            title="{{tile?.log}}">
            {{ i >= columns ? tile.text : ' '}}
        <mat-grid-tile-header *ngIf="i < columns">{{tile.text}}</mat-grid-tile-header>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <mat-expansion-panel (closed)="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Execution Log
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field style="width: 100%;">
        <textarea matInput [value]="log" rows="40" readonly="true">
        </textarea>
      </mat-form-field>
    </mat-expansion-panel>
</div>