@use '@angular/material' as mat;

@include mat.core();

$page-replacement-algorithm-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$blue-palette,
  ),
));

html {
  @include mat.all-component-themes($page-replacement-algorithm-theme);
}