name: Deploy to GitHub Pages via angular-cli-ghpages

on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Use Node.js 24.x
      uses: actions/setup-node@v6
      with:
        node-version: 24.x

    - name: Prepare and deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npm install
        npm run ng -- deploy --base-href=/page-replacement-algorithm/ --name="petruki" --email="roger.petruki@gmail.com" --no-silent
